html,
body {
    width: 100%;
    height: 100%;
    background: black;
    margin: 0px;
    padding: 0px;   
}

.container {
    width: 50%;
    min-width: 640px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container .cav-wrap {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    
}

.container .cav-wrap canvas {
   
}

.mask-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.container .mask-wrap .top-info {
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.mask-wrap .aim-at {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0px;
}

.mask-wrap .aim-at img {
    height: 60px;
    margin: 0 auto;
}

.pass-film {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.ctrls-wrap {
    position: absolute;
    bottom: 260px;
    left: 0px;
    z-index: 4;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 170px
}

.main-ctrl {
    width: 150px;
    height: 150px;
    margin-bottom: 10px; 
    border-radius: 50%;
    background-color: white;
    line-height: 150px;
    text-align: center;
}

.rotate-ctrl {
    min-width: 30px;
    height: 50px;
    background-color: white;
    display: inline-block;
}